$solana-color: linear-gradient(
  245.22deg,
  #c200fb 7.97%,
  #3772ff 49.17%,
  #3773fe 0,
  #5ac4be 92.1%
);
$solana-color2: linear-gradient(
  232deg,
  #c500ff 7.97%,
  #1a5eff 55.17%,
  #00fff1 98.1%
);

$font-eyecandy: "Nunito", sans-serif;
// vuetify override
$snackbar-color: #d8d8d8;

$abs-dark-bg: #212121;
